 <table>
  <% unless @feeds.blank? %>
   <% @feeds.each do |feed| %>
     <tr><td class=<%=feed.is_read ?  "read" :"unread" %> >
       <%= link_to(feed.display_title, feed, :remote => true) %>
     </td></tr>
   <% end %>
  <% else %>
    <tr><td>No postings match your request. </td></tr>
  <% end %>
</table>