<%= render :partial => "search" %>
<p> <b>Be Aware</b> this application automatically refreshes every 5 minutes, at which time the
  loaded posting will be cleared
  <b>Last refreshed: </b><%= Time.zone.now.strftime("%B %d, %Y %H:%M") %> CST
</p>

<div id="feeds_container">
	<div id="feeds_list">
		<%= render :partial => "feeds_list" %>
	</div>


	<div id="show_posting">

	</div>

</div>




<!--
 <%# form_for :profile, @profile,  :url => mark_feeds_path  do |@f| %>
	<%#= render :partial => "feeds_list" %>
	<div id="submit">
	 <%#= submit_tag 'Remove Marked' %>
	</div>
<%# end %>
-->


