

<table>
<thead>
  <tr>
    <th>Keep Time</th>
    <th>Purge?</th>
  </tr>
 </thead>


</tr>
  <tr>
    <td style="width:100px;text-align: center;"><%= @setting.keep_time %></td><td style="width:100px;text-align: center;"><%=@setting.purge %></td><td><%= link_to 'Edit', edit_setting_path(@setting) %></td>
  </tr>

</table>

<br />

