<%= form_for("search", :url => "/search", :method => :get) do |f| %>
    <p>
      <%= f.text_field "item" %>
      <span id="search_button">
        <%= f.submit "Search" %>
      </span>
    </p>
<% end %>